<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <session-config>
        <session-timeout>
            3100
        </session-timeout>
    </session-config>
  
    
        <servlet>
        <servlet-name>cs1</servlet-name>
        <servlet-class>servlet.servletInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cs2</servlet-name>
        <servlet-class>servlet.servletModification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cs3</servlet-name>
        <servlet-class>servlet.servletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cs4</servlet-name>
        <servlet-class>servlet.servletCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cs5</servlet-name>
        <servlet-class>servlet.servletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cs7</servlet-name>
        <servlet-class>servlet.servletOnlineP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cs8</servlet-name>
        <servlet-class>servlet.servletInvite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cs9</servlet-name>
        <servlet-class>servlet.servletInvitation</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>cs10</servlet-name>
        <servlet-class>servlet.servletConexion</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>cs11</servlet-name>
        <servlet-class>servlet.LancePartieServlet</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>cs12</servlet-name>
        <servlet-class>servlet.servletTestInvite</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>cs13</servlet-name>
        <servlet-class>servlet.servletAffectTour</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>cs14</servlet-name>
        <servlet-class>servlet.AffectTourJoueurs</servlet-class>
    </servlet>
   
     <servlet>
        <servlet-name>cs15</servlet-name>
        <servlet-class>servlet.ServletAfficheTourJoueur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cs1</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs2</servlet-name>
        <url-pattern>/Modification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs3</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs4</servlet-name>
        <url-pattern>/Compte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs5</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs7</servlet-name>
        <url-pattern>/OnlineP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs8</servlet-name>
        <url-pattern>/Invite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs9</servlet-name>
        <url-pattern>/Invitation</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>cs10</servlet-name>
        <url-pattern>/Conexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs11</servlet-name>
        <url-pattern>/LancerPartie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs12</servlet-name>
        <url-pattern>/TestInvite</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>cs13</servlet-name>
        <url-pattern>/AffectTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs14</servlet-name>
        <url-pattern>/AffectTourJ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs15</servlet-name>
        <url-pattern>/TourJoueur</url-pattern>
    </servlet-mapping>
    
     <welcome-file-list>
     <welcome-file>Login</welcome-file>
     </welcome-file-list>
   
 
</web-app>
